.card-container {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: bold;
  font-size: 20px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.card-code {
  align-self: flex-start;
  background-color: #eeeeee;
  border-radius: 15px;
  padding: 5px 10px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 20px 0; /* Space between code and description */
}

.card-description {
  font-size: 16px;
  color: black;
  margin-bottom: 20px; /* Space between description and footer */
}

.card-footer {
  display: flex;
  align-items: center;
}

.prerequisite-label {
  font-weight: bold;
  margin-right: 10px; /* Space between label and prerequisite text */
}

.card-prerequisite {
  background-color: #c0f9d7; /* Green */
  border-radius: 15px;
  padding: 5px 10px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.card-container {
  margin: 0; /* Overriding previous margin setting */
}

/* Remove space between columns by overriding Bootstrap's padding */
.container .row > [class^="col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Optional: If your cards or their containers have margins, set them to 0 */
.class-card,
.card-container {
  margin: 0;
}

/* Ensure the cards themselves touch if they have borders or internal spacing */
.card {
  border-radius: 0; /* Optional: Removes border-radius if desired */
}
